// Styles for React LoadingEllipsis component
.loading-ellipsis {
  opacity: 0.75;
  font-style: italic;

  .dot-holder {
    position: relative;

    .invisi-dots {
      opacity: 0.0;
    }

    .dots {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}