.loading-overlay {
  position: relative;

  & > .active-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.7);

    & > .overlay-text {
      text-align: center;
      color: rgba(0, 0, 0, 0.1);

      &.lg {
        font-size: 400px;
      }

      &.sm, &.md {
        font-size: 200px;
      }

      &.tall {
        margin-top: 100px;
      }

      &.short {
        margin-top: -50px;
      }
    }
  }
}