$hold-button-height: 6px;

.hold-button {
  position: relative;

  .progress {
    position: absolute;
    bottom: $hold-button-height + 1px;
    left: 0px;
    margin-bottom: -1 * ($hold-button-height + 1px);
    width: 100%;
    height: $hold-button-height;

    .progress-bar {
      // Change transition time so it matches refresh timeout in hold button component
      transition: width .1s ease !important;
    }
  }

  &.btn {
    .progress {
      margin-left: -2 * $hold-button-height;
      margin-right: -2 * $hold-button-height;
      left: 2 * $hold-button-height;
    }
  }
}
